*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
/*background-image: url(img/mountain2.png);
background-color: #1A224A;
linear-gradient(45deg, #5c6b8d, #103783);*/
background-color:#1b263b;
}

/*.container {
    position: relative;
}*/
.card {
    margin: auto;
    margin-top: 4rem;
    max-width: 25rem;
    height: 35rem;
    background-color: #E5E5E5;
    border-radius: 1.14rem;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.7);

}

.price-img-title-icon-message-follow {
    display: grid;
    grid-template-areas:
        "price"
        "img"
        "title"
        "icon"
        "message"
        "follow"
    ;
}

.price-img-title-icon-message-follow:nth-child(1) {
    grid-area: price;
}

.price-img-title-icon-message-follow:nth-child(2) {
    grid-area: img;
}

.price-img-title-icon-message-follow:nth-child(3) {
    grid-area: title;
}

.price-img-title-icon-message-follow:nth-child(4) {
    grid-area: icon;
}

.price-img-title-icon-message-follow:nth-child(5) {
    grid-area: message;
}

.price-img-title-icon-message-follow:nth-child(6) {
    grid-area: follow;
}

.price {
    background-color: #FCA311;
    color: white;
    text-align: center;
    padding: 0.25rem;
    border-radius: 1rem 1rem 0 0;
    font-weight: 700;
}
.img{
    overflow: hidden;
}
.img img {
    filter: brightness(45%);
    width: 25rem;
    max-height: 13rem;
    object-fit: cover;
}

.title {
    text-align: center;
    translate: 0 -9.5rem;
}

.title h1 {
    color: white;
    font-size: 1.25rem;
}

.title p {
    margin-top: 0.25rem;
    color: white;
    font-size: 1rem;
}

.icon img {
    translate: 0 -6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 5.5rem;
    border: 0.2rem solid #FCA311;

}

.message {
    text-align: center;
    translate: 0 -7rem;
    /*border: 1px solid rgb(0, 0, 0, 20%);
    border-top: none;
    border-left: none;
    border-right: none;*/

}

.message button {
    color: #000000;
    width: 7.5rem;
    height: 2.25rem;
    border-radius: 0.2rem;
    border-style: none;
    background-color: transparent;
    border: 0.125rem solid #000000;
    cursor: pointer;
    margin: 1.5rem;
    font-weight: 500;
}

.follow {
    margin: auto;
    display: flex;
    gap: 4rem;
    text-align: center;
    width: min-content;
    font-weight: 900;
    translate: 0 -7.5rem;
    color:#14213D;
}

.follow h1 {
    font-size: 1.1rem;
}

.follow p {
    font-size: 0.7rem;
    font-weight: 400;
}

.place-site {
    display: flex;
    gap: 2rem;
    justify-content: center;
    translate: 0 -6rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(0, 0, 0, 50%);
    color:#14213D;

}

.place-site h1 {
    font-size: 1.1rem;
}
.place-site p {
    color: #1b263b;
    font-size: 0.7rem;
    font-weight: 400;
}
.button{
    text-align: center;
    

}
.button button {
    background-color: #FCA311;
    color: white;
    text-align: center;
    padding: 0.25rem;
    border-radius:0 0 1rem 1rem;
    font-weight: 700;
    width: 25rem;
    height: 5rem;
    translate: 0 -4rem;
    border-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes popbutton {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -0.125rem);
    }
    100% {
        transform: translate(0, 0);
    }
}
.button button:hover{
    background-color:#d6890e ;
    
}
.icon img:hover{
    animation-name: popbutton;
    animation-duration: 400ms;
}

.img img:hover{
    transform: scale(1.1);
    transition: transform 500ms;
    animation-timing-function: ease-in-out;
}
.img img:hover::after{
    transform: scale(1);
    transition: transform 500ms;
    animation-timing-function: ease-in-out;
}
.message button:hover{
    animation-name: popbutton;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
}